projeto sydis/.gradle/
projeto sydis/build/

projeto sydis/local.properties

projeto sydis/*.log

projeto sydis/captures/
projeto sydis/.externalNativeBuild/
projeto sydis/.cxx/
projeto sydis/*.apk
projeto sydis/output.json
projeto sydis/*.iml
projeto sydis/.idea/
projeto sydis/misc.xml
projeto sydis/deploymentTargetDropDown.xml
projeto sydis/render.experimental.xml

projeto sydis/*.jks
projeto sydis/*.keystore

projeto sydis/app/google-services.json

projeto sydis/*.hprof
