Arquivos do projeto SyDis/.gradle/
Arquivos do projeto SyDis/build/

Arquivos do projeto SyDis/local.properties

Arquivos do projeto SyDis/*.log

Arquivos do projeto SyDis/captures/
Arquivos do projeto SyDis/.externalNativeBuild/
Arquivos do projeto SyDis/.cxx/
Arquivos do projeto SyDis/*.apk
Arquivos do projeto SyDis/output.json
Arquivos do projeto SyDis/*.iml
Arquivos do projeto SyDis/.idea/
Arquivos do projeto SyDis/misc.xml
Arquivos do projeto SyDis/deploymentTargetDropDown.xml
Arquivos do projeto SyDis/render.experimental.xml

Arquivos do projeto SyDis/*.jks
Arquivos do projeto SyDis/*.keystore

Arquivos do projeto SyDis/app/google-services.json

Arquivos do projeto SyDis/*.hprof
